<div ng-controller="LandingPageController as LPC">
  <div class="jumbotron">
    <h1>Fetch</h1>
  </div>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
        <input type="text" class="form-control" id="landingPageTaskInput" placeholder="what do you need">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
