<ion-view view-title="available fetches">
  <ion-content class="padding AvailableFetches">

      <div class="list">
        <div class="item item-divider">available fetches</div>
        <ion-list>
          <!-- <ion-item ng-repeat="fetch in AvailableFetches.fetches | filter: { dateClaimed: '!', dateClosed: '!' }" class="item item-text-wrap"> -->
            <ion-item ng-repeat="fetch in AvailableFetches.fetches" class="item item-text-wrap">

            <div ng-class="isItemShown(fetch) ? 'item-expand active' : 'item-expand inactive'">
              <h2>{{ fetch.item }}</h2>
              <p>requested: {{ fetch.dateRequested | date:'fullDate'  }}</p>
              <p>claimed: {{ fetch.dateClaimed | date:'fullDate'  }}</p>
              <p>closed: {{ fetch.dateClosed | date:'fullDate'  }}</p>
              <p>requestor: {{ fetch.requestor_id }}</p>
              <p>claimor: {{ fetch.claimor_id }}</p>
              <p id="address">address: {{ fetch.address }}</p>
              <!-- <p>{{ fetch.paymentAmount }}</p> -->
              <!-- <p>{{ fetch.paymentType }}</p> -->
              <!-- <p>{{ fetch.zipCode }}</p> -->
              <button class="button" ng-click="AvailableFetches.showConfirm(fetch)">claim</button>
            </div>
            <div ng-click="toggleItem(fetch)" class="item-expand-footer">
              <i ng-class="isItemShown(fetch) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
              {{ isGroupShown(fetch) }}
            </div>
          </ion-item>
        </ion-list>
      </div>



    </ion-content>
  </ion-view>
