<!-- VIEW IS NOT USED. SWITCHED TO AVAILABLE FETCHES VIEW -->

<ion-view view-title="fetch details">
  <ion-content class="padding center FetchDetail">

    <h3>fetch details</h3>
    <ul>
      <li>{{FetchDetail.fetchDetails.item}}</li>
      <li>date requested: {{FetchDetail.fetchDetails.dateRequested | date:'fullDate' }}</li>
      <li>date claimed: {{FetchDetail.fetchDetails.dateClaimed | date:'fullDate' }}</li>
      <li>date closed: {{FetchDetail.fetchDetails.dateClosed | date:'fullDate' }}</li>
      <li>payment amount: {{FetchDetail.fetchDetails.paymentAmount}}</li>
      <li>payment type: {{FetchDetail.fetchDetails.paymentType}}</li>
      <li>zipcode: {{FetchDetail.fetchDetails.zipCode}}</li>
      <button>claim</button>
      <button>edit</button>
      <button>close</button>
    </ul>

  </ion-content>
</ion-view>
