<ion-view view-title="findFetch">
  <ion-content class="padding">
    <h3>find a fetch</h3>

      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></div>
            <input type="text" class="form-control" id="userLocation" placeholder="enter your location">
            <div class="input-group-addon"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      
  </ion-content>
</ion-view>
