<ion-view view-title="find a fetch">
  <ion-content class="padding center FindFetch">

    <h3>available fetches</h3>
      <div class="card">
      <div class="item item-text-wrap">
        <ul ng-repeat="fetch in FindFetch.fetch" ng-if="!fetch.dateClosed">
          <li><a href="/fetches/{{fetch.id}}">{{fetch.item}}</a></li>
          <li>date requested: {{fetch.dateRequested | date:'fullDate' }}</li>
          <li>date claimed: {{fetch.dateClaimed | date:'fullDate' }}</li>
          <li>date closed: {{fetch.dateClosed | date:'fullDate' }}</li>
          <li>payment amount: {{fetch.paymentAmount}}</li>
          <li>payment type: {{fetch.paymentType}}</li>
          <li>zipcode: {{fetch.zipCode}}</li>
        </ul>
      </div>
    </div>


    <h3>previous fetches</h3>
      <div class="card" >
      <div class="item item-text-wrap">
        <ul ng-repeat="fetch in FindFetch.fetch" ng-if="fetch.dateClosed">
          <li>{{fetch.item}}</li>
          <li>date requested: {{fetch.dateRequested | date:'fullDate' }}</li>
          <li>date claimed: {{fetch.dateClaimed | date:'fullDate' }}</li>
          <li>date closed: {{fetch.dateClosed | date:'fullDate' }}</li>
          <li>payment amount: {{fetch.paymentAmount}}</li>
          <li>payment type: {{fetch.paymentType}}</li>
          <li>zipcode: {{fetch.zipCode}}</li>
        </ul>
      </div>
    </div>


  </ion-content>
</ion-view>
