<ion-view view-title="Home">
  <ion-content class="padding Home">
    <h3>HOME</h3>

    <div class="list">

      <div class="item item-divider">available fetches</div>
        <ul  ng-repeat="fetch in Home.fetches" ng-if="!fetch.dateClosed">
          <li><a class="item" href="#/tab/fetchDetails/{{fetch.id}}">{{fetch.item}}</a></li>
        </ul>

      <div class="item item-divider">closed fetches</div>
        <ul ng-repeat="fetch in Home.fetches" ng-if="fetch.dateClosed">
          <li><a class="item" href="#/tab/fetchDetails/{{fetch.id}}">{{fetch.item}}</a></li>
        </ul>


    </div>

  </ion-content>
</ion-view>
