<ion-view view-title="Home">
  <ion-content class="padding Home">
    <h3>HOME</h3>

      <div class="list">
        <div class="item item-divider">your unclaimed fetches</div>
        <ion-list>
          <!-- <ion-item ng-repeat="fetch in Home.fetches | filter: { dateClaimed: '!', dateClosed: '!' }" class="item item-text-wrap"> -->
            <ion-item ng-repeat="fetch in Home.fetches" class="item item-text-wrap">

            <div ng-class="isItemShown(fetch) ? 'item-expand active' : 'item-expand inactive'">
              <h2>{{ fetch.item }}</h2>
              <p>requested: {{ fetch.dateRequested | date:'fullDate'  }}</p>
              <p> claimed: {{ fetch.dateClaimed | date:'fullDate'  }}</p>
              <p> closed: {{ fetch.dateClosed | date:'fullDate'  }}</p>
              <p> requestor: {{ fetch.requestor_id }}</p>
              <p> claimor: {{ fetch.claimor_id }}</p>
              <p id="address" ng-model="address">address: {{ fetch.address }}</p>

              <!-- <p>{{ fetch.paymentAmount }}</p> -->
              <!-- <p>{{ fetch.paymentType }}</p> -->
              <!-- <p>{{ fetch.zipCode }}</p> -->

            </div>
            <div ng-click="toggleItem(fetch)" class="item-expand-footer">
              <i ng-class="isItemShown(fetch) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
              {{ isGroupShown(fetch) }}
            </div>
          </ion-item>
        </ion-list>
      </div>

      <div class="list">
        <div class="item item-divider">your claimed but unclosed fetches</div>
        <ion-list>
          <ion-item ng-repeat="fetch in Home.fetches | filter: { dateClosed: '!', dateClaimed:'' }" class="item item-text-wrap">
            <div ng-class="isItemShown(fetch) ? 'item-expand active' : 'item-expand inactive'">
              <h2>{{ fetch.item }}</h2>
              <p> requested: {{ fetch.dateRequested | date:'fullDate'  }}</p>
              <p> claimed: {{ fetch.dateClaimed | date:'fullDate'  }}</p>
              <p> closed: {{ fetch.dateClosed | date:'fullDate'  }}</p>
              <p> requestor: {{ fetch.requestor_id }}</p>
              <p> claimor: {{ fetch.claimor_id }}</p>
              <!-- <p id="address" ng-model="address">address: {{ Home.address }}</p> -->
              <!-- <p>{{ fetch.paymentAmount }}</p> -->
              <!-- <p>{{ fetch.paymentType }}</p> -->
              <!-- <p>{{ fetch.zipCode }}</p> -->
              <button class="button" ng-click="Home.showClosed(fetch)">close</button>

            </div>
            <div ng-click="toggleItem(fetch)" class="item-expand-footer">
              <i ng-class="isItemShown(fetch) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
              {{ isGroupShown(fetch) }}
            </div>
          </ion-item>
        </ion-list>
      </div>

      <div class="list">
        <div class="item item-divider">your closed fetches</div>
        <ion-list>
          <ion-item ng-repeat="fetch in Home.fetches | filter: { dateClosed: '' }" class="item item-text-wrap">
            <div ng-class="isItemShown(fetch) ? 'item-expand active' : 'item-expand inactive'">
              <h2>{{ fetch.item }}</h2>
              <p> requested: {{ fetch.dateRequested | date:'fullDate'  }}</p>
              <p> claimed: {{ fetch.dateClaimed | date:'fullDate'  }}</p>
              <p> closed: {{ fetch.dateClosed | date:'fullDate'  }}</p>
              <p> requestor: {{ fetch.requestor_id }}</p>
              <p> claimor: {{ fetch.claimor_id }}</p>
              <!-- <p id="address" ng-model="address">address: {{ Home.address }}</p> -->
              <!-- <p>{{ fetch.paymentAmount }}</p> -->
              <!-- <p>{{ fetch.paymentType }}</p> -->
              <!-- <p>{{ fetch.zipCode }}</p> -->
            </div>
            <div ng-click="toggleItem(fetch)" class="item-expand-footer">
              <i ng-class="isItemShown(fetch) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
              {{ isGroupShown(fetch) ? 'Less' : 'More' }}
            </div>
          </ion-item>
        </ion-list>
      </div>


     <div class="list">
        <div class="item item-divider">fetches you have claimed</div>
        <ion-list>
          <ion-item ng-repeat="userClaimedFetch in Home.userClaimedFetches | filter: { dateClosed: '' }" class="item item-text-wrap">
            <div ng-class="isItemShown(fetch) ? 'item-expand active' : 'item-expand inactive'">
              <h2>{{ userClaimedFetch.item }}</h2>
              <p> requested: {{ userClaimedFetch.dateRequested | date:'fullDate'  }}</p>
              <p> claimed: {{ userClaimedFetch.dateClaimed | date:'fullDate'  }}</p>
              <p> closed: {{ userClaimedFetch.dateClosed | date:'fullDate'  }}</p>
              <p> requestor: {{ userClaimedFetch.requestor_id }}</p>
              <p> claimor: {{ userClaimedFetch.claimor_id }}</p>
              <!-- <p id="address" ng-model="address">address: {{ userClaimedFetch.address }}</p> -->
              <!-- <p>{{ fetch.paymentAmount }}</p> -->
              <!-- <p>{{ fetch.paymentType }}</p> -->
              <!-- <p>{{ fetch.zipCode }}</p> -->
          </div>
            <div ng-click="toggleItem(fetch)" class="item-expand-footer">
              <i ng-class="isItemShown(fetch) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
              {{ isGroupShown(fetch) ? 'Less' : 'More' }}
            </div>
          </ion-item>
        </ion-list>
      </div>

      <div class="list">
         <div class="item item-divider">fetches you have claimed and are closed</div>
         <ion-list>
           <ion-item ng-repeat="userClaimedFetch in Home.userClaimedFetches | filter: { dateClosed: '!'} " class="item item-text-wrap">
             <div ng-class="isItemShown(fetch) ? 'item-expand active' : 'item-expand inactive'">
               <h2>{{ userClaimedFetch.item }}</h2>
               <p> requested: {{ userClaimedFetch.dateRequested | date:'fullDate'  }}</p>
               <p> claimed: {{ userClaimedFetch.dateClaimed | date:'fullDate'  }}</p>
               <p> closed: {{ userClaimedFetch.dateClosed | date:'fullDate'  }}</p>
               <p> requestor: {{ userClaimedFetch.requestor_id }}</p>
               <p> claimor: {{ userClaimedFetch.claimor_id }}</p>
               <!-- <p id="address" ng-model="address">address: {{ userClaimedFetch.address }}</p> -->
               <!-- <p>{{ fetch.paymentAmount }}</p> -->
               <!-- <p>{{ fetch.paymentType }}</p> -->
               <!-- <p>{{ fetch.zipCode }}</p> -->
           </div>
             <div ng-click="toggleItem(fetch)" class="item-expand-footer">
               <i ng-class="isItemShown(fetch) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
               {{ isGroupShown(fetch) ? 'Less' : 'More' }}
             </div>
           </ion-item>
         </ion-list>
       </div>
  </ion-content>
</ion-view>
