<ion-view view-title="">

  <ion-content class="padding Account">

    <div class='row row-center' id="landPageHeaderMain">

      <div class='col'>
        <img class="landingPageLogo" src="./css/logo_GIMP_v3.png"/>
      </div>

      <div class='col col-75'>
        <h1 class="landingPageTitle">fetch</h1>
        <h4 class="landingPageSubTitle">go get it!</h4>
      </div>

    </div>

    <div class='grayBackground'>

      <div class="row row-center" id="landingPageMain">
        <div class='col'>
          <a href="#/availableFetches" class="button button-full" id="landingPageAvailableFetchesButton">find a fetch</a>
        </div>
      </div>

    </div>

    <div class="bar bar-footer">
      <a href="#/signup" class="button button-clear">sign up</a>
      <a href="#/signin" class="button button-clear pull-right">sign in</a>
    </div>

  </ion-content>
</ion-view>
