<ion-view view-title="">

  <ion-content class="padding Account">







    <div class="item" id="landingPageHeaderSection">
      <img class="landingPageLogo" src="./css/fetchLogo_correct_color.png"/>
      <h1 class="landingPageTitle">fetch</h1>
      <h4 class="landingPageSubTitle">go get it!</h4>
    </div>



<div id="landingPageMain">


    <div class='landingPageAvailableFetches'>
      <a href="#/availableFetches" class="button button-full button-light" id="landingPageAvailableFetchesButton">find available fetches</a>
    </div>

      <div class="bar bar-footer">
        <a href="#/signup" class="button button-clear">sign up</a>
        <a href="#/signin" class="button button-clear pull-right">sign in</a>
      </div>
</div>
    </ion-content>
  </ion-view>
