<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <ion-tab title="dashboard" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>


  <ion-tab title="drop" icon-off="ion-plus-round" icon-on="ion-plus-round" href="#/tab/addFetch">
    <ion-nav-view name="addFetch"></ion-nav-view>
  </ion-tab>


  <ion-tab title="retrieve" icon-off="ion-android-walk" icon-on="ion-android-walk" href="#/tab/findFetch">
    <ion-nav-view name="findFetch"></ion-nav-view>
  </ion-tab>


  <ion-tab title="profile" icon-off="ion-ios-person" icon-on="ion-ios-person" href="#/tab/signout">
    <ion-nav-view name="signout"></ion-nav-view>
  </ion-tab>

</ion-tabs>
