<div class="change_pin_popup_form">
<div>ERROR {{change_pin_form.$valid}} </div>
  <form name="change_pin_form" novalidate>
    <div class="form-item">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Current PIN</span>
        <input type="number" name="current_pin" ng-model="current_pin" correct-pin="{{current_pin}}" ng-minlength=4 ng-maxlength=4 required>
      </label>
      <div class="error-container" ng-show="change_pin_form.current_pin.$dirty && change_pin_form.current_pin.$invalid">
        <small class="error" ng-show="change_pin_form.current_pin.$error.required">Please input your current PIN</small>
        <small class="error" ng-show="change_pin_form.current_pin.$error.correct-pin">Wrong PIN</small>
      </div>
    </div>
    <div class="form-item">
      <label class="item item-input item-stacked-label">
        <span class="input-label">New PIN</span>
        <input type="number" name="new_pin" ng-model="new_pin" ng-minlength=4 ng-maxlength=4  required>
      </label>
      <div class="error-container" ng-show="change_pin_form.new_pin.$dirty && change_pin_form.new_pin.$invalid">
        <small class="error" ng-show="change_pin_form.new_pin.$error.minlength || change_pin_form.new_pin.$error.maxlength">Your PIN is required to be 4 digits</small>
      </div>
    </div>
  </form>
</div>
