/* Empty. Add your own CSS if you like */

/* home page for fetch details */
.item-expand {
  position: relative;
  width: 100%;
  max-height: 25px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}

.item-expand.inactive:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 15px;
  width: 100%;
  display: block;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(1, rgba(255, 255, 255, 1))
  );
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.item-expand.active {
  max-height: 500px;
  transition: max-height 0.3s ease-out;
}


/* DEMO */
.item-expand-footer {
  /*color: red;*/
  margin-top: 10px;
}

.item-expand-footer i {
  margin-right: 10px;
}



/* MAP on add a fetch */
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}



/* LANDING PAGE */
#landingPageMain{
  background-image:url(https://images.unsplash.com/photo-1445129865778-9fcd1363cc0d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0dc76e4d1505d887017ba7cea5c9c86e);
  background-position:center;
 background-size:100% auto;
}
#landingPageHeaderSection{
 background-color: transparent;
 background:rgba(0,0,0,0.05);
 border-color: transparent;
 text-align: center;
}
.landingPageLogo {
  width:2em;
  height:2em;
}
.landingPageTitle {
  display:inline;
  color: #7fdbd4;
}
.landingPageSubTitle {
  color:#36454F;
}

.landingPageAvailableFetches{
  padding-top:15em;
}

#landingPageAvailableFetchesButton{
  color: #7fdbd4;
}

/* signin & signout header */
.accountLogo{
  width:2em;
  height:2em;
}
.accountHeader{
  display:inline;
  color: #7fdbd4;
}

/* signin page */
.item-floating-label{
  border-left:none;
  border-right:none;
}
#firstFormInputField{
  border-top:none;
}
.form-control {

  border:0;
}
.no-border {
    border: 0;
    box-shadow: none;
}
