/* Empty. Add your own CSS if you like */
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  color: #7fdbd4;
}


/* home page for fetch details */
.item-expand {
  position: relative;
  width: 100%;
  max-height: 25px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}

.item-expand.inactive:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 15px;
  width: 100%;
  display: block;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(1, rgba(255, 255, 255, 1))
  );
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.item-expand.active {
  max-height: 500px;
  transition: max-height 0.3s ease-out;
}


/* DEMO */
.item-expand-footer {
  /*color: red;*/
  margin-top: 10px;
}

.item-expand-footer i {
  margin-right: 10px;
}



/* MAP on add a fetch */
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}



/* LANDING PAGE */
#landPageHeaderMain {
  padding-top:4em;
  margin:0;
  top:0;
  left:0;
  width:100%;
}
.landingPageLogo {
  width:10em;
  height:10em;
}
.landingPageTitle {
  color: #36454F;
  font-size:4em;
}

 .landingPageSubTitle {
   color: #36454F;
   font-size:2em;
 }

.grayBackground{
  background-color:#36454F;
  padding-bottom:1em;
}

#landingPageMain {
   margin-top:6em;
   top:0;
   left:0;
   padding-top:10em;
   width: 100%;
}

#landingPageAvailableFetchesButton{
  color: #FFF;
  background-color: #7FDBD4;
}

.bar-footer{
  background-color:#36454F;
  color: #FFF;
}

/* signin & signout header */
.accountLogo{
  width:6em;
  height:6em;
}
.accountHeader{
  display:inline;
  color: #36454F;
}

/* signin page */
.item-floating-label{
  border-left:none;
  border-right:none;
}
#firstFormInputField{
  border-top:none;
}
.form-control {

  border:0;
}
.no-border {
    border: 0;
    box-shadow: none;
}

.accountSignUpQuestion{
  padding-top:10em;
  color: #36454F;

}
.signUpLink {
  color:#7fdbd4;
}

/* signout/history */
.ion-chevron-right {
  background-color: #36454F;
  color:#FFF;
}
.ion-chevron-right.active {
  background-color: #36454F;
  color:#7fdbd4;
}
.signout-button{
  background-color: #36454F;
  color:#FFF;
}


/* add fetch modal */
/*#location {
  color: #36454F;
}*/

.modal{
top:50%;
bottom: 0;
left: 0;
right: 0;
width: 100%;
}
#addFetchModalHeaderBar {
  background-color: #36454F;
  color:#FFF;

}
#addFetchModalSubmitButton {
  background-color: #36454F;
  color: #FFF;
}

/*add fetch info window */
infoWindow {
  color: #36454F;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 6px #36454F;
  border: 1px solid #36454F;
}

/*#modal-backdrop .active {
  -webkit-filter: blur(5px) grayscale(50%);
  -webkit-transform: scale(0.9);

}*/


/* retrieve a fetch info window */

#iw-container {
   border-radius: 2px 2px 0 0;
   box-shadow: 0 1px 6px #36454F;
   border: 1px solid #36454F;
}
 .iw_title {
  padding: 1em;
  margin: 1px;
  background-color: #36454F;
  color: #FFF;
  font-weight:bold;
 }
